@model IEnumerable<MvcKompApp.Models.Customer>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<link href="../../Content/Custom.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>FirstName
        </th>
        <th>LastName
        </th>
        <th>Age
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div>
    @if (ViewBag.YouSelected != null)
    {
        <h2>@ViewBag.YouSelected</h2>
    }
    @using (Html.BeginForm("IndexDDL", "Customer", FormMethod.Post,
    new
    {
        id = "CountryStateFormID",
        data_stateListAction = @Url.Action("StateList")
    }))
    {
        <fieldset>
            <legend>Country/State</legend>
            @Html.DropDownList("Countries", ViewBag.Country as SelectList,
            "Select a Country", new
            {
                id = "CountriesID",
                //onchange = "$('#CountryStateFormID').submit()"
            })
            <div id="StatesDivID">
                <label for="States">States</label>
                <select id="StatesID" name="States"></select>
            </div>
            <p>
                <input type="submit" value="Submit" id="SubmitID" />
            </p>
        </fieldset>
    }
</div>
<div>
    @using (Ajax.BeginForm("EditAjax", "Customer", new AjaxOptions { LoadingElementId = "imgLoading", UpdateTargetId = "custmerEditor" }))
    {
        @Html.DropDownList("customerList", new SelectList(Model, "Id", "LastName"))
        <input type="submit" name="btnEdit" value="Edit" />
        <img id="imgLoading" src="@Url.Content("~/images/loading.gif")" alt="loading" class="loader" />
    }
    <div id="custmerEditor">
    </div>

</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
}

<script type="text/javascript">

    $(function () {
        $('#StatesDivID').hide();
        $('#SubmitID').hide();

        $('#CountriesID').change(function () {
            var URL = $('#CountryStateFormID').data('stateListAction');
            //alert(URL);
            URL = '/Customer/StateList'
            $.getJSON(URL + '/' + $('#CountriesID').val(), function (data) {
                var items = '<option>Select a State</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
                });
                $('#StatesID').html(items);
                $('#StatesDivID').show();
            });
        });

        $('#StatesID').change(function () {
            $('#SubmitID').show();
        });
    })
</script>
