@model IEnumerable<MvcKompApp.Models.Movie>
@using MvcKomp3

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Movie", FormMethod.Get))
{
    @Html.DropDownList("year", new SelectList(ViewBag.Years), "All")
    <input type="submit" value="Submit" />
}

<table>
    <tr>
        <th>Title
        </th>
        <th>ReleaseDate
        </th>
        <th>Genre
        </th>
        <th>Price
        </th>
        <th>Rating
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate.Year);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@*@Html.Label("Search by name:")
@Ajax.Textbox("search", new AjaxOptions
{
    Url = "/Movie/Search",
    UpdateTargetId = "movies",
    InsertionMode = InsertionMode.Replace
}, new { size = 50 })

<div id="movies">
    @Html.Action("Films")
</div>*@

@section Scripts{
    @*<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/modernizr-1.7.js")"  type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"  type="text/javascript"></script>

    <script type="text/javascript">

        $(function () {
            $("input[name='search']").val("");
        });
    </script>
}