<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/SiteGreen.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Content/Sprite.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MvcKomp App</h1>
            </div>
            @if (@ViewBag.Display != null)
            {
                <text>Ciao</text> 
            }
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                 @*   <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Task", "Index", "Task")</li>
                    <li>@Html.ActionLink("Students", "Index", "Student")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                    <li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
                    <li>@Html.ActionLink("Departments", "Index", "Department")</li>
                    <li>@Html.ActionLink("Visitor Site", "Index", "VisitorSite")</li>
                    <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Person", "Index", "Person")</li>
                    <li>@Html.ActionLink("UserModel", "Index", "UserModel")</li>
                    <li>@Html.ActionLink("Image", "Index", "Image")</li>
                    <li>@Html.ActionLink("Movie", "Index", "Movie")</li>*@

                    @Html.Partial("_listControllers")

                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>

@helper Script(string scriptName)
{
    <script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript" />
}

@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts")
}