<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Radio Test", "RadioTest", "Home")</li>

<li>@Html.ActionLink("WebGrid Index", "WebGridIndex", "Home")</li>

<li>@Html.ActionLink("GetDogListJSON", "GetDogListJSON", "Home")</li>
<li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
<li>@Html.ActionLink("Efficient WebGrid Paging", "EfficientWebGridPaging", "Home")</li>

<li>@Html.ActionLink("Paging ", "Index", "PagingProduct")</li>
<li>@Html.ActionLink("Paging Ajax", "IndexAjax", "PagingProduct")</li>

<li>@Html.ActionLink("Appointament", "MakeBooking", "Appointment")</li>

<li>@Html.ActionLink("Summit", "Index", "Summit")</li>
<li>@Html.ActionLink("AjaxPaging", "Index", "AjaxPaging")</li>

<li>@Html.ActionLink("jTable", "PagingAndSorting", "jTable")</li>

<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Employee", "Index", "Employee")</li>
<li>@Html.ActionLink("Task", "Index", "Task")</li>
<li>@Html.ActionLink("Students", "Index", "Student")</li>
<li>@Html.ActionLink("Courses", "Index", "Course")</li>
<li>@Html.ActionLink("Instructors", "Index", "Instructor")</li>
<li>@Html.ActionLink("Departments", "Index", "Department")</li>
<li>@Html.ActionLink("Visitor Site", "Index", "VisitorSite")</li>
<li>@Html.ActionLink("Customer", "Index", "Customer")</li>
<li>@Html.ActionLink("Products", "Index", "Product")</li>
<li>@Html.ActionLink("Person", "Index", "Person")</li>
<li>@Html.ActionLink("UserModel", "Index", "UserModel")</li>
<li>@Html.ActionLink("Image", "Index", "Image")</li>
<li>@Html.ActionLink("Movie", "Index", "Movie")</li>
<li>@Html.ActionLink("Pdf", "Index", "Pdf")</li>
<li>@Html.ActionLink("Remote Validation", "Index", "RemoteValidation")</li>
<li>@Html.ActionLink("User Membership", "Register", "User")</li>
<li>@Html.ActionLink("Partial View Refresh", "PartialViewRefreshHandler", "Home")</li>


